/* =================
    Color Variables
   ================= */
/* ===================
      Font Variables
   =================== */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  line-height: 1.4; }

h2, h3, strong {
  font-weight: 700; }

p {
  font-size: 0.87rem; }

a {
  text-decoration: none; }

/* ==================
       Hero area
   ================== */
.hero {
  display: grid;
  grid-template-columns: minmax(1, 1fr);
  padding: 8em 0;
  background-image: url(../images/homepage/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.content-container {
  display: grid;
  grid-template-rows: minmax(1.5em, 1.5fr) minmax(1em, 1fr);
  padding: 1em 1.5em; }

.row-image-1 {
  background-image: url(../images/homepage/enjoyable-place-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.row-image-2 {
  background-image: url(../images/homepage/locally-sourced-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

/* ==================
        Buttons
   ================== */
.btn {
  text-transform: uppercase; }

.btn-primary {
  color: #fff;
  border: 1px solid #fff;
  padding: 1em 2em; }

/* ==================
        Patterns
   ================== */
.pattern-divide {
  background-image: url(../images/patterns/pattern-divide.svg);
  background-repeat: no-repeat;
  background-size: 5em;
  padding-left: 3em; }

.text-position {
  text-align: center; }

.hero-intro {
  font-weight: 300;
  line-height: 1.2; }

.hero-description {
  padding: 0 0.2em 2em 0.2em; }

.description-text {
  font-size: 0.87rem; }
