/* =================
    Color Variables
   ================= */
/* ===================
      Font Variables
   =================== */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  line-height: 1.4; }

h2, h3, strong {
  font-weight: 700; }

p {
  font-size: 0.87rem; }

a {
  text-decoration: none; }

hr {
  border: 0.1px solid #242b38; }

li {
  list-style-type: none;
  text-align: center; }

label {
  display: none;
  visibility: hidden; }

.hero {
  margin: auto;
  position: relative;
  padding: 8em 0.5em;
  background-image: url(../images/homepage/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.content-container,
.slider-container {
  width: 80%;
  margin-left: 1.75em; }

.highlights-container {
  padding: 2em 1em;
  background-color: #121212; }

.slider-container {
  padding: 2em 0; }

.enjoy-place-img {
  position: relative;
  top: -2em; }

.enjoy-place-img,
.locally-sourced-img,
.family-gathering-img {
  width: 100%;
  height: auto; }

.salmon-img,
.beef-img,
.chocolate-img {
  width: 100%;
  padding-top: 0.5em; }

.footer-container {
  display: flex;
  flex-direction: column; }

.footer-bg-img {
  padding: 2.5em 1em;
  background-image: url(../images/homepage/ready-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.footer-info-bottom {
  padding-top: 1em; }

.booking-hero {
  margin: auto;
  position: relative;
  padding: 4em 1em;
  background-image: url(../images/booking/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

@media all and (min-width: 23.4375em) {
  .hero {
    padding: 10em 0.5em; }
  .content-container,
  .slider-container {
    margin-left: 2em; } }

/* =================
     Tablet Style
   ================= */
@media all and (min-width: 31.25em) {
  .hero {
    background-image: url(../images/homepage/hero-bg-tablet.jpg);
    padding: 11em 0.5em; }
  .enjoy-place-img {
    top: -4em; }
  .content-container,
  .slider-container {
    margin-left: 3em; }
  .highlights-container {
    padding: 4em 4em; }
  .highlights {
    display: flex; }
  .salmon-img,
  .beef-img,
  .chocolate-img {
    width: 8em;
    height: 6em;
    padding-right: 2em; }
  .line {
    width: 100%; }
  .slider {
    display: flex; }
  .footer-bg-img {
    background-image: url(../images/homepage/ready-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .footer-bottom {
    display: flex;
    justify-content: space-around; }
  .footer-info {
    padding-top: 1em;
    text-align: left; }
  .footer-info-bottom {
    padding-top: 1.5em;
    text-align: left; }
  .booking-hero {
    background-image: url(../images/booking/hero-bg-tablet.jpg); } }

@media all and (min-width: 43.75em) {
  .hero {
    padding: 14em 0.5em; }
  .content-container,
  .slider-container {
    margin-left: 4.5em; } }

/* =================
     Desktop Style
   ================= */
@media all and (min-width: 56.25em) {
  .hero {
    background-image: url(../images/homepage/hero-bg-desktop@2x.jpg);
    padding: 6em 0; }
  .content-container {
    position: relative; }
  .enjoy-place-img,
  .locally-sourced-img {
    width: 20em;
    height: 23em; }
  .locally-sourced-img {
    position: absolute;
    top: -5em;
    left: 26em; }
  .desk-content-text-pos-1 {
    position: absolute;
    width: 26.875em;
    top: 3em; }
  .right {
    left: 23.5em; }
  .desk-content-text-pos-2 {
    position: relative;
    width: 26em;
    right: 4em; }
  .family-gathering-img {
    width: 33.75em;
    height: 37.5em;
    margin-left: 6em; }
  .slider {
    margin-left: 7em; } }

@media all and (min-width: 75em) {
  .enjoy-place-img,
  .locally-sourced-img {
    height: 25em; }
  .locally-sourced-img {
    top: -8em;
    left: 46em; }
  .right {
    left: 40.5em; }
  .highlights-container {
    display: flex;
    padding: 2em 2em; }
  .highlights-desktop {
    padding-top: 3em; }
  .slider-container-desk {
    display: flex; }
  .slider-pos-desk {
    display: flex;
    flex-direction: column; }
  .slider {
    display: unset;
    order: 2; }
  .family-gathering-img {
    width: 20em;
    height: 25em;
    margin-left: 0; }
  .footer-bg-img {
    background-image: url(../images/homepage/ready-bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .footer-desk-pos {
    display: flex;
    justify-content: space-between; }
  .booking-hero {
    background-image: url(../images/booking/hero-bg-desktop@2x.jpg); } }

@media all and (min-width: 93.25em) {
  .locally-sourced-img {
    left: 63.75em; }
  .right {
    left: 58em; }
  .family-gathering-img {
    margin-left: 6.5em; }
  .slider-pos-desk {
    margin-left: 2.2em; } }

/*.content-container {
    display: grid;
    grid-template-rows: minmax(1.5em, 1.5fr)  minmax(1em, 1fr);
    padding: 1em 1.5em; 
}

.row-image-1 {
    background-image: url(../images/homepage/enjoyable-place-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.row-image-2 {
    background-image: url(../images/homepage/locally-sourced-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
} 

 .menu-img-1 {
    background-image: url(../images/homepage/salmon-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-img-2 {
    background-image: url(../images/homepage/beef-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-img-3 {
    background-image: url(../images/homepage/chocolate-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
} */
.btn {
  text-transform: uppercase;
  padding: 1em 2em; }

.btn-primary {
  color: white;
  border: 1px solid white; }
  .btn-primary:hover {
    color: #121212;
    background-color: white; }

.btn-secondary {
  color: #121212;
  border: 1px solid #121212;
  background-color: white; }
  .btn-secondary:hover {
    color: white;
    background-color: #121212; }

a {
  display: inline-block; }

.underline::after {
  content: '';
  display: block;
  width: 30%;
  margin: 0 auto;
  top: 24.14%;
  bottom: 75%;
  border: 0.2px solid #9e7f67; }

.footer-bottom {
  background-color: #121212;
  padding: 2em 0; }

/* =================
         Form
   ================= */
fieldset {
  position: relative;
  top: -3em;
  margin: 1em 1em;
  padding: 1.5em 0;
  border: 0.2px solid white;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px #5c687a;
  -moz-box-shadow: 0 5px 10px #5c687a;
  box-shadow: 0 5px 10px #5c687a;
  text-align: center;
  line-height: 2; }

hr, .credentials-style {
  width: 80%; }

hr, input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #5c687a; }

input[type=number],
.idl-choice {
  width: 25%; }
  input[type=number]:placeholder-shown,
  .idl-choice:placeholder-shown {
    text-align: center; }

:placeholder-shown {
  padding: 0.5em 0; }

.time-form-style {
  white-space: nowrap; }

.idl-choice {
  background-image: url(../images/icons/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: 0.9375rem;
  background-position: right; }

.sign-icon {
  padding: 0 2.5em; }

/* =================
     Tablet Style
   ================= */
@media all and (min-width: 31.25em) {
  .btn-display {
    display: none; }
  fieldset {
    margin: 2em 3em;
    top: -4em; }
  .credentials-style {
    padding-top: 1em; } }

.sign-icon {
  padding: 0 4em; }

@media all and (min-width: 43.75em) {
  fieldset {
    margin: 1em 6em; }
  .sign-icon {
    padding: 0 5em; } }

/* =================
    Desktop Style
================= */
@media all and (min-width: 56.25em) {
  .btn-footer-desktop {
    margin-right: 2em; }
  fieldset {
    margin: 0.5em 13em; }
  .credentials-style {
    padding-top: 1.5em; } }

@media all and (min-width: 75em) {
  .btn-slider-desk {
    margin: 0 6em 2em 0; }
  .btn-footer-desktop {
    margin-right: 6em;
    padding: 1.5em 2em 0 2em; } }

@media all and (min-width: 75em) {
  fieldset {
    margin: 0 23em;
    left: 17em;
    top: -15em; }
  .btn-footer-desktop {
    margin-right: 9.5em; } }

@media all and (min-width: 93.25em) {
  fieldset {
    margin: 0 32em; } }

.hero-text-position,
.text-position {
  text-align: center; }

.website-name {
  font-size: 2rem; }

.hero-intro {
  font-weight: 300;
  line-height: 1.2; }

.hero-description {
  padding: 0 0.2em 2em 0.2em; }

.description-text {
  font-size: 0.87rem; }

.highlights-text,
.highlights-intro,
.footer-text,
.footer-title,
.footer-info-text {
  color: white; }

.slider-text {
  line-height: 2;
  padding-right: 1.5em;
  text-transform: uppercase;
  color: #5c687a;
  font-size: 0.9375rem; }

.footer-text,
.footer-title {
  font-size: 1.5rem; }

.footer-info-text {
  text-transform: uppercase; }

/* =================
     Tablet Style
   ================= */
@media all and (min-width: 31.25em) {
  .hero-intro {
    padding: 0 2em;
    font-size: 2rem; }
  .hero-description {
    font-size: 0.9375rem; }
  .hero-text-position {
    padding: 1em 2em; }
  .highlights-intro {
    padding-bottom: 2em; }
  .menu-intro {
    padding: 0 2em; }
  .highlights-text {
    text-align: left; }
  .dish-title {
    font-size: 0.8rem; }
  .dish-description {
    font-size: 0.7rem; }
  .slider-text {
    line-height: 1.4;
    white-space: nowrap;
    font-size: 0.65rem; }
  .description-text {
    padding: 0 2em; }
  .footer-info {
    margin-right: 1em; }
  .footer-info-text {
    margin-right: 1em;
    font-size: 0.7rem;
    line-height: 1; }
  .footer-title {
    padding: 0 1em; } }

@media all and (min-width: 43.75em) {
  .hero-intro {
    padding: 0 4.5em; }
  .hero-description {
    padding: 0 6em 2em 6em; }
  .content-text {
    padding: 0 4em;
    font-size: 2rem; }
  .description-text {
    padding: 0 8em 2em 8em; }
  .menu-intro,
  .menu-description {
    padding: 0 7em; }
  .dish-description {
    padding-right: 7em; }
  .slider-text {
    font-size: 0.87rem; } }

/* =================
     Desktop Style
   ================= */
@media all and (min-width: 56.25em) {
  .hero-text-position {
    max-width: 50%;
    margin-left: 2.5em;
    text-align: left; }
  .hero-intro,
  .hero-description {
    padding: 0; }
  .hero-intro {
    font-size: 2.8rem; }
  .content-text {
    font-size: 1.5rem; }
  .description-text {
    text-align: center; }
  .menu-description {
    padding: 0 10em; }
  .footer-text {
    margin-right: 1em; }
  .booking-hero-desk {
    padding: 0 10em; } }

@media all and (min-width: 75em) {
  .hero-text-position {
    max-width: 37%; }
  .content-text,
  .description-text {
    text-align: left; }
  .content-text {
    margin-left: 0.5em; }
  .description-text {
    width: 38em; }
  .highlights-intro {
    width: 70%;
    padding-top: 5em; }
  .menu-intro,
  .menu-description {
    text-align: left; }
  .menu-description {
    margin-left: 1.7em; }
  .slider-text-desk {
    margin-left: 15em;
    order: 1; }
  .slider-text {
    line-height: 2.5; }
  .footer-text {
    margin-left: 3em; }
  .booking-hero-text-pos-desk {
    text-align: left;
    margin-left: 10em; }
  .booking-hero-desk {
    width: 22em;
    padding: 0; } }

@media all and (min-width: 93.25em) {
  .menu-description {
    margin-left: 0;
    padding: 0 12em; }
  .footer-text {
    margin-left: 6.5em; } }
