/* ==================
       Hero area
   ================== */
.hero {
    display: grid;
    grid-template-columns: minmax(1, 1fr);
    padding: 8em 0;
    background-image: url(../images/homepage/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.content-container {
    display: grid;
    grid-template-rows: minmax(1.5em, 1.5fr)  minmax(1em, 1fr);
    padding: 1em 1.5em;
}

.row-image-1 {
    background-image: url(../images/homepage/enjoyable-place-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.row-image-2 {
    background-image: url(../images/homepage/locally-sourced-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}




