/* ==================
       hero area
   ================== */
.hero {
    padding: 8em 0;
    display: grid;
    grid-template-columns: minmax(2em, 2fr) minmax(0, 500px) minmax(2em, 2fr);
    background-image: url(../images/homepage/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.hero > * {
    grid-column: 1 / -1;
}

.btn {
    text-transform: uppercase;
    
}

.btn-primary {
    color: #fff;
    border: 1px solid #fff;
    padding: 1em 2em;
}

