.hero {
    margin: auto;
    position: relative;
    padding: 8em 0.5em; 
    background-image: url(../images/homepage/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.content-container,
.slider-container {
    width: 80%;
    margin-left: 1.75em;
}

.highlights-container {
    padding: 2em 1em;
    background-color: $color-cod-grey;
}

.slider-container {
    padding: 2em 0;
}

.enjoy-place-img {
  position: relative;
  top: -2em;
}

.enjoy-place-img,
.locally-sourced-img,
.family-gathering-img {
    width: 100%;
    height: auto;
}

.salmon-img,
.beef-img,
.chocolate-img {
    width: 100%;
    padding-top: 0.5em;
}

.footer-container {
   display: flex;
   flex-direction: column;

    & .footer-bg-img {
        padding: 2.5em 1em;
        background-image: url(../images/homepage/ready-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
  }
}

.footer-info-text {
    text-transform: uppercase;
}

.booking-hero {
margin: auto;
position: relative;
padding: 4em 1em; 
background-image: url(../images/booking/hero-bg-mobile.jpg);
background-repeat: no-repeat;
background-size: cover;
color: #fff; 
}

@media all and (min-width: 23.4375em) {
    .hero {
        padding: 10em 0.5em;
    }

    .content-container,
    .slider-container {
        margin-left: 2em;
    } 
}

/* =================
     Tablet Style
   ================= */
@media all and (min-width: 31.25em) {
    .hero {
        background-image: url(../images/homepage/hero-bg-tablet.jpg);
        padding: 11em 0.5em;
    }

    .enjoy-place-img {
        top: -4em;
    }

    .content-container,
    .slider-container {
        margin-left: 3em;
    }

    .highlights-container {
        padding: 4em 4em;        
    }

    .highlights {
        display: flex;
    }

    .salmon-img,
    .beef-img,
    .chocolate-img {
        width: 8em;
        height: 6em;
        padding-right: 2em;
    }

    .line {
        width: 100%;
    }

    .slider {
        display: flex;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-around;
    }

    .footer-info {
        padding-top: 1em;
        text-align: left;
    }

    .footer-info-bottom {
        padding-top: 1.5em;
    }
}

@media all and (min-width: 43.75em) {
    .hero {
        padding: 14em 0.5em;
    }

    .content-container,
    .slider-container {
        margin-left: 4.5em;
    }
}







//////////////////////////////////////////////////////////////////////////////////////

/*.content-container {
    display: grid;
    grid-template-rows: minmax(1.5em, 1.5fr)  minmax(1em, 1fr);
    padding: 1em 1.5em; 
}

.row-image-1 {
    background-image: url(../images/homepage/enjoyable-place-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.row-image-2 {
    background-image: url(../images/homepage/locally-sourced-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
} 

 .menu-img-1 {
    background-image: url(../images/homepage/salmon-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-img-2 {
    background-image: url(../images/homepage/beef-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-img-3 {
    background-image: url(../images/homepage/chocolate-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
} */




