.text-position {
    text-align: center;
}

.website-name {
    font-size: $font-size-md;
}

.hero-intro {
    font-weight: 300;
    line-height: 1.2;
}

.hero-description {
    padding: 0 0.2em 2em 0.2em;
}

.description-text {
    font-size: $font-size-xxsm;
}

.highlights-text,
.footer-text,
.footer-title,
.footer-info {
    color: $color-white;
}

.slider-text {
    line-height: 2;
    padding-right: 1.5em;
    text-transform: uppercase;
    color: $color-shuttle-gray;
    font-size: $font-size-xsm;
}

.footer-text,
.footer-title {
    font-size: $font-size-mds;
}

