.hero-group {
    text-align: center;
}

.website-name {
    font-size: $font-size-md;
    
}

.hero-intro {
    font-weight: 300;
    font-size: $font-size-md;
    line-height: 1.2;
}

.hero-description {
    font-size: $font-size-xxsm;
    padding: 0 0.2em 2em 0.2em;
}