/* =================
    Color Variables
   ================= */
$color-beaver: hsl(27, 22%, 51%);
$color-cod-grey: hsl(0, 0%, 7%);
$color-mirage: hsl(234, 30%, 13%);
$color-ebony-clay: hsl(218, 21%, 18%);
$color-shuttle-gray: hsl(217, 14%, 42%);
$color-white: hsl(0,0%,100%);

/* ===================
      Font Variables
   =================== */
$font-size-lg: 4rem;
$font-size-md: 2rem;
$font-size-mds: 1.5rem;
$font-size-sm: 1.125rem;
$font-size-xsm: 0.9375rem;
$font-size-xxsm: 0.870rem;
$font-size-tablet-sm: 0.8rem;
$font-size-tablet-xsm: 0.7rem;
$font-size-tablet-xxsm: 0.650rem;